<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# FavIcon#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ asset('favicon/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {#bootstrap#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        {#lien feuille style assets#}
    {#mon css#}
    <link rel="stylesheet" href="{{ asset('assets/scss/admin.css') }}">
    <title>{% block title %}Admin Premier mOt{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light nav-pills ">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin')}}">le premier mOt: Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('accueil')}}">Lien accueil</a>
                </li>

                <li class="nav-item pr-3">
                    <a href="{{ path('admin_reservations') }}" class="btn btn-secondary  active " role="button" aria-pressed="true">Réservations</a>
                </li >
                <li class="nav-item pr-3">
                    <a href="{{ path('admin_spectateurs') }}" class="btn btn-secondary  active " role="button" aria-pressed="true">Spectateurs</a>
                </li >
                <li class="nav-item pr-3">
                    <a href="{{ path('admin_spectacles') }}" class="btn btn-secondary active " role="button" aria-pressed="true">Spectacles</a>
                </li>
                <li class="nav-item pr-3">
                    <a href="{{ path('admin_salles') }}" class="btn btn-secondary active " role="button" aria-pressed="true">Salles</a>
                </li>
                <li class="nav-item pr-3">
                    <a href="{{ path('admin_categories') }}" class="btn btn-secondary active " role="button" aria-pressed="true">Catégories</a>
                </li>
                <li class="nav-item pr-3">
                    <a href="{{ path('admin_tarifs') }}" class="btn btn-secondary active " role="button" aria-pressed="true">Tarifs</a>
                </li>
                <li class="nav-item pr-3 ml-3">
                    <a href="{{ path('admin_clients') }}" class="btn btn-primary active px-3" role="button" aria-pressed="true">Clients</a>
                </li>
                <li class="nav-item pr-3 ml-3">
                    <a href="{{ path('admin_pieces') }}" class="btn btn-success active px-3" role="button" aria-pressed="true">Pièces</a>
                </li>
            </ul>
        </nav>
        <div class="alert alert-info text-center" role="alert">
            {# ...or you can read and display every flash message available #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </header>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 border-right">
            <div class="container flex-column">
                {% block sidebar %}
                    <aside>
                        <nav >
                            <h2 class="recherche">Recherche par Client</h2>
                            <ul class="nav">
                                <li class="nav-item">
                                    <form class="form-inline" method="get" action="{{ path('client_reservation_search_name') }}">
                                        <input class="form-control input-sm" type="search" placeholder="réservation: nom Client" aria-label="Search" name="searchName">
                                        <button class="btn btn-outline-success " type="submit">chercher</button>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                {% endblock %}
            </div>
        </div>

        <div class="col-3 col-md-8 offset-lg-1">
                {% block contenu %}{% endblock %}
        </div>
    </div>
</div>
    {# Bootstrap JS #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>