<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jaime Sastre">
    <meta name="description" content=" la Compagnie du premier mOt, encore une troupe de comédiens amateurs?, oui! sans prétention, c'est ce que nous sommes.
    du plaisir, c'est ce que nous recherchons. du plaisir à prendre. du plaisir à donner. du plaisir à partager. on vous invite simplement à venir en prendre en notre compagnie... ">
    <meta name="keywords" content="théâtre, theater, le premier mot, spectacle, troupe, lederniermOt est affilié à l'XXX, Association  des Compagnies Dramatiques, et à la XXX, Fédération Nationale des Compagnies Dramatiques.">
    <meta name=robots content="index, follow">
    <!--   JQuery complet incluant hover -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block head_js %}
        <!-- à implémenter selon besoin -->
    {% endblock %}
    <!--        fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/scss/main.css') }}">
    {% block head_css %}
        <!-- à ajouter selon besoin -->
    {% endblock %}

    <title>Le premier mOt</title>
</head>
<body>
{#todo à définir plus tard lien admin#}

{#
    <a href="{{ path('admin')}}">Lien vers Administrateur</a>
#}


<!--Barre de menu en Bootstrap navigateur : bannière contenant le logo mais aussi navigateur: barre de navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-toggleable  navbar-dark bg-dark" role="banner search">
    <a class="navbar-brand" href="#">le premier mOt</a>
    <!--    partie menu déroulant pour média query mobile        -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--     navigation aligné à droite : justify content end    -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="active-item" href={{ path('accueil')}}>Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('gallerie')}}">Galerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Spectacles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact/Info</a>
                <a href="{{ path('admin')}}"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="alert alert-info text-center" role="alert">
    {# ...or you can read and display every flash message available #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<!--    main  :  contenu principal de la page - W3C « The main element represents the main content of the body of a document-->
{% block contenu %}
    <!-- Contenu Page -->
{% endblock %}

<!--        footer de la page -->

<footer>
    <div class="container-fluid bg-dark d-flex flex-column flex-md-row d-lg-block justify-content-between align-items-end">
        <div class="row  footer ">
            <div class="col-12 col-md-4 order-3 order-md-1  m-0 m-md-0 text-center">
                <p class="p-3 mx-lg-5">© copyright 2018 <br>le premier mot par JSC</p>
            </div>

            <div class="col-12 order-1 col-md-4 order-md-2 text-center m-0">
                <p class="p-3 mx-lg-5 m-0">
                    <a href="#">mentions légales</a>
                    <a href="#"><br>Devenir membre</a>
                </p>

            </div>
            <div class="col-12 col-md-4 order-2 order-md-3 mt-3 d-flex justify-content-center align-items-center">
                <p><a href="https://www.facebook.com" target="_blank">
                        <img src={{ asset("img/FB.png")}} alt="FB" class="img-fluid pr-3"></a></p>
                <p><a href="https://twitter.com/" target="_blank"><img src={{ asset("img/TW.png")}} alt="TW" class="img-fluid pr-3"></a></p>
                <p><a href="https://www.instagram.com" target="_blank"><img src={{ asset("img/INST.png")}} alt="IN" class="img-fluid pr-3"></a></p>
                <p><a href="https://www.youtube.com" target="_blank"><img src={{ asset("img/YOUT.png")}} alt="YOUT" class="img-fluid "></a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
{% block foot_js %}
    <!-- à implémenter selon besoin -->
{% endblock %}
<!-- Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

