{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
{#    {{ dump(categories) }}#}

    <p>
        <a href="{{ path('admin_form_categorie') }}">Ajouter une Catégorie</a>
    </p>

    <div class="text-align-center">

        {# Liste les spectaurss avec une boucle for #}
        {% for categorie in categories %}
            <div>
                <p>
                    catégorie : <em>{{ categorie.libelle}}</em>&nbsp
                    prix : {{ categorie.tarif.prixplace}}&euro;&nbsp
                    spectacle : <em><strong>{{ categorie.spectacle.nomSpectacle}}</strong></em>
                </p>

                <a href="{{ path('admin_supp_categorie',  {'id': categorie.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_categorie',  {'id': categorie.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>
                <hr>
            </div>

        {% endfor %}
    </div>


{% endblock %}
