{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg bg-light">

                {#Liste les contacts avec une boucle for#}

                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th >id</th>
                        <th >nom</th>
                        <th >email</th>
                        <th >objet</th>
                        <th >supprimer</th>
                        <th >modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td><a href="{{ path('admin_contact', {'id': contact.id}) }}">{{ contact.name}}</a></td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.subject}}</td>

                            <td><a href="{{ path('admin_supp_contact',  {'id': contact.id}) }}">
                                    <button class="supprimer" type="submit">Supprimer</button>
                                </a>
                            <td>
                                <a href="{{ path('admin_modif_contact',  {'id': contact.id}) }}">
                                    <button class="modifier" type="submit">Modifier</button>
                                </a>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#code #}
    {#jQuery first, then Popper.js, then Bootstrap JS, and then Bootstrap Table JS#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.2/bootstrap-table.min.js"></script>
    <script>
       /*code */
       const $ = require('jquery');
       require('bootstrap');
       /*const $ = require('jquery');*/
    </script>
{% endblock %}