


{% block contenu %}
    <div>
        {{ form_start(formcategorie, {'attr': {'class': 'form'}}) }}
        <p>
            {{ form_label(formcategorie.libelle, null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formcategorie.libelle, {'attr': {'class': 'form-control'}}) }}
        </p>
        {% for tarif in formcategorie.tarif %}
            <p>
                {{ form_label(tarif.prix_place, null, {'label_attr':  {'class': 'form-label'}}) }}
            </p>
            <p>
                {{ form_widget(tarif.prix_place, {'attr': {'class': 'form-control'}}) }}
            </p>
        {% endfor %}


        {{ form_end(formcategorie) }}
    </div>

{% endblock %}