{% extends "@App/baseAdmin.html.twig" %}



{% block contenu %}

{{ form(formspectateur) }}
 {#   <div>
        {{ form_start(formspectateur, {'attr': {'class': 'form'}}) }}
        <p>
            #}{#retourne message erreur si besoin après méthode isValid dans Controleur #}{#
            {{ form_errors(formspectateur.prix_place) }}
            {{ form_label(formspectateur.prix_place, null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formspectateur.prix_place, {'attr': {'class': 'form-control'}}) }}
        </p>

        <p>
            {{ form_widget(formspectateur.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </p>

        {{ form_end(formspectateur) }}
    </div>#}

{% endblock %}