{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    {{   dump(formreservation) }}

{{ form(formreservation) }}
    {#<div> //{{ "now"|date("m/d/Y") }}
        {{ form_start(formreservation, {'attr': {'class': 'form'}}) }}

        <p>
            #}{#retourne message erreur si besoin après méthode isValid dans Controleur#}{#
            {{ form_errors(formreservation.) }}
            {{ form_label(formreservation., null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formreservation., {'attr': {'class': 'form-control'}}) }}
        </p>


        {{ form_end(formreservation) }}
    </div>#}

{% endblock %}