{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    {#{{   dump(formreservation) }}#}

{#{{ form(formreservation) }}#}
    <div> Date : {{ "now"|date("m/d/Y") }}
        {{ form_start(formreservation, {'attr': {'class': 'form'}}) }}

        <p>
            {#retourne message erreur si besoin après méthode isValid dans Controleur#}
            {{ form_errors(formreservation.spectacle) }}
            {{ form_label(formreservation.spectacle, null, {'label_attr':  {'class': 'form-label'}}) }} :

            {{ form_widget(formreservation.spectacle, {'attr': {'class': 'form-control'}}) }}
        </p>

        <p>
        >
            <ul class="spectateurs" data-prototype="{{ form_widget(formreservation.spectateur.vars.prototype)|e('html_attr') }}">
                {% for spectateurField in formreservation.spectateur %}
                    <li>
                        {{ form_errors(spectateurField) }}
                        {{ form_label(spectateurField) }}
                        {{ form_widget(spectateurField) }}

                    </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            {#retourne message erreur si besoin après méthode isValid dans Controleur#}
            {{ form_errors(formreservation.client) }}
            {{ form_label(formreservation.client, null, {'label_attr':  {'class': 'form-label'}}) }} :

            {{ form_widget(formreservation.client, {'attr': {'class': 'form-control'}}) }}
        </p>


        {# génération du champ CSRF - _token#  (Cross Site Request Forgeries en champ caché #}
        {{ form_rest(formreservation) }}

        {{ form_end(formreservation) }}
    </div>


    {# Partie JavaScript #}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>


        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="add_tag_link">Ajoutez un spectateur</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
           /* $collectionHolder = $('#appbundle_reservation_spectateurs');*/
            $collectionHolder = $('ul.spectateurs');


            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });


        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            //console.log($collectionHolder);
            var prototype = $collectionHolder.data('prototype');

            //console
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__label__/g, 'Spectateur n° '+ index);

            //newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1 );

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>

{% endblock %}