{% extends "@App/baseAdmin.html.twig" %}



{% block contenu %}
    <div class="row">
        <div class="offset-lg-1 col-lg-4 bg-light">
            {{ form_start(formtarif, {'attr': {'class': 'form'}}) }}
            <p>
                {#retourne message erreur si besoin après méthode isValid dans Controleur #}
                {{ form_errors(formtarif.prix_place) }}
                {{ form_label(formtarif.prix_place, null, {'label_attr':  {'class': 'form-label'}}) }}
            </p>
            <p>
                {{ form_widget(formtarif.prix_place, {'attr': {'class': 'form-control'}}) }}
            </p>

            <p>
                {{ form_widget(formtarif.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </p>

            {# génération du champ CSRF - _token#  (Cross Site Request Forgeries en champ caché #}
            {{ form_rest(formtarif) }}

            {{ form_end(formtarif) }}
        </div>
    </div>
{% endblock %}