{% extends "@App/baseAdmin.html.twig" %}



{% block contenu %}

    {#{{ dump(formcategorie) }}#}

    <div>
        {{ form_start(formcategorie, {'attr': {'class': 'form'}}) }}
        <p>
            {#retourne message erreur si besoin après méthode isValid dans Controleur #}
            {{ form_errors(formcategorie.libelle) }}
            {{ form_label(formcategorie.libelle, null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formcategorie.libelle, {'attr': {'class': 'form-control'}}) }}
        </p>
        <p>
            {{ form_errors(formcategorie.tarif) }}
            {{ form_label(formcategorie.tarif, null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formcategorie.tarif, {'attr': {'class': 'form-control'}}) }}
        </p>
        <p>
            {{ form_errors(formcategorie.spectacle) }}
            {{ form_label(formcategorie.spectacle, null, {'label_attr':  {'class': 'form-label'}}) }}
        </p>
        <p>
            {{ form_widget(formcategorie.spectacle, {'attr': {'class': 'form-control'}}) }}
        </p>

        <p>
            {{ form_widget(formcategorie.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </p>

        {# génération du champ CSRF - _token#  (Cross Site Request Forgeries en champ caché #}
        {{ form_rest(formcategorie) }}

        {{ form_end(formcategorie) }}
    </div>

{% endblock %}