{% extends "@App/basePublic.html.twig" %}
{% block active3 %}active{% endblock %}

{% block contenu %}
    {#<div class="container-fluid image_spectacle ">#}
    <section class="haut_spectacle">
        <div class="haut_titre_spectacle">
            <h1>Titre de la pièce: {{ piece.titre}}</h1>
        </div>
        {% if piece.image %}<br>
            <img src="{{ asset('uploads/img/' ~ piece.image) }}" alt="{{ piece.titre }}"class="haut_image_spectacle">
        {% else %}
            emplacement image
        {% endif %}

    </section>
    {# </div>#}
    <div class="container-fluid texte_spectacle">

        <div class="row">
            <div class="col-5 col-md-3 border-right counters">
                <aside>

                </aside>
            </div>
            <div class="col-5 col-md-7">
                <main>
                    <div class="container ">
                        <div class="row d-block">
                            <div class="offset-md-1 col">
                                <header >
                                    <h2 class="title">Page Spectacle</h2>
                                </header>
                                <p><em>un texte <br>
                                        <a href="{{ path('page_reservation')}}">Reservez </a></em>
                                    {% if piece%}
                                    <div>
                                <p>
                                <h1><strong><em>Titre : </em>{{ piece.titre}}</strong></h1><br>
                                <strong><em>Accroche : </em></strong>{{ piece.accroche }}<br>
                                <strong><em>Auteur : </em></strong>{{ piece.auteur}}<br>
                                <strong><em>Genre : </em></strong>{{ piece.genre}}<br>
                                <strong><em>Dates :<br></em></strong>{{ piece.dates|nl2br}}<br>
                                <strong><em>Participants : </em></strong>{{ piece.participants }}<br>
                                {{ piece.salle.latitude }}{{ piece.salle.longitude }}
                                </p>
                                <p>
                                    <strong><em>Résumé : <br></em></strong>{{ piece.resume|nl2br}}<br>
                                </p>

                            </div>

                            {% endif %}
                            </p>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
    {#********************************#}

    <div style="width: 100%">
        <iframe scrolling="no" width="100%" height="200"  src="https://maps.google.com/maps?q= {{ piece.salle.latitude }},{{ piece.salle.longitude }}&hl=es;z=14&amp;output=embed"></iframe>
    </div><br />
{% endblock %}

{% block foot_js %}
    <!-- js pour gallerie-->
{% endblock %}

{% block isasideBlock %}Asideblock{% endblock %}