{% extends "@App/basePublic.html.twig" %}
{% block active3 %}active{% endblock %}

{% block head_js %}{% endblock %}

{% block contenu %}
    <div class="container-fluid image_spectacle ">
        {% if piece.image %}<br>
            <img src="{{ asset('uploads/img/' ~ piece.image) }}" alt="{{ piece.titre }}" height="auto" width="100%">
        {% else %}
            emplacement image
        {% endif %}
        <div class="row  d-block">
            <div class="offset-md-5 col-6">
            <h1>Titre de la pièce: {{ piece.titre}}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid texte_spectacle">

        <div class="row">
            <div class="col-5 col-md-3 border-right counters">
                <aside>

                </aside>
            </div>
            <div class="col-5 col-md-7">
                <main>
                    <div class="container ">
                        <div class="row d-block">
                            <div class="offset-md-1 col">
                                <header >
                                    <h2 class="title">Page Spectacle</h2>
                                </header>
                                <p><em>un texte <br>
                                        <a href="{{ path('page_reservation')}}">Reservez </a></em>
                                    {% if piece%}
                                    <div>
                                <p>
                                <h1><strong><em>Titre : </em>{{ piece.titre}}</strong></h1><br>
                                <strong><em>Accroche : </em></strong>{{ piece.accroche }}<br>
                                <strong><em>Auteur : </em></strong>{{ piece.auteur}}<br>
                                <strong><em>Genre : </em></strong>{{ piece.genre}}<br>
                                <strong><em>Dates :<br></em></strong>{{ piece.dates|nl2br}}<br>
                                <strong><em>Participants : </em></strong>{{ piece.participants }}<br>
                                </p>
                                <p>
                                    <strong><em>Résumé : <br></em></strong>{{ piece.resume|nl2br}}<br>
                                </p>

                            </div>

                            {% endif %}
                            </p>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
    {#********************************#}

    <div style="width: 100%">
        <iframe scrolling="no" width="100%" height="200" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=%7B%7B {#course.ville.nom#} }}&amp;q={#{{ course.adresseDepart }}#}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" marginheight="0" marginwidth="0"></iframe>
    </div><br />
{#
    <div style="width: 100%">
        <iframe scrolling="no" width="100%" height="200" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=%7B%7B course.ville.nom }}&amp;q={{ course.adresseDepart }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" marginheight="0" marginwidth="0"></iframe></div><br />
#}
{% endblock %}

{% block foot_js %}
    <!-- js pour gallerie-->
{% endblock %}

{% block isasideBlock %}Asideblock{% endblock %}