{% extends "@App/basePublic.html.twig" %}

{% block active1 %}{% endblock %}
{% block active2 %}active{% endblock %}

{% block head_css %}
    <!-- liens/link js pour gallerie -->
    <link rel='stylesheet' href={{ asset('unitegallery/css/unite-gallery.css') }} type='text/css' />
    <link rel='stylesheet' href={{ asset('unitegallery/themes/default/ug-theme-default.css') }} type='text/css' />
{% endblock %}

{% block contenu %}
    <main class="main">
        <section class="premiere">
            <div class="container-fluid resa_body_font ">
                <div class="row">
                    <div class="col-12 col-md-2 mt-md-3">
                        <h1 class="title text-center">Gallerie </h1>
                    </div>

                    <div class="col">
                        <div id="gallery" style="display:none;">
                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/1T.jpg') }}
                                     data-image={{ asset('img/gallerie_rendu/1.jpg') }}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/2T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/2.jpg') }}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/3T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/3.jpg') }}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/4T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/4.jpg') }}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/5T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/5.jpg')}}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/6T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/6.jpg')}}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/7T.jpg') }}
                                     data-image={{ asset('img/gallerie_rendu/7.jpg')}}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/8T.jpg')  }}
                                     data-image={{ asset('img/gallerie_rendu/8.jpg')}}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>

                            <a href="http://unitegallery.net">
                                <img alt="Extrait de pièce de théatre"
                                     src={{ asset('img/gallerie_rendu/9T.jpg') }}
                                     data-image={{ asset('img/gallerie_rendu/9.jpg')}}
                                     data-description="Extrait de pièce de théatre"
                                     style="display:none">
                            </a>
                            {% for imageGallerie in imageGalleries %}

                                {% if imageGallerie.nomImage %}




                                    <a href="http://unitegallery.net">
                                        <img alt="{{ imageGallerie.altImage }}"
                                             src="{{ asset('uploads/img/' ~ imageGallerie.thumbnailImage) }}"
                                             data-image="{{ asset('uploads/img/' ~ imageGallerie.nomImage) }}"
                                             data-description="{{ imageGallerie.legendeImage}}"
                                             style="display:none">
                                    </a>
                                {% else %}

                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block foot_js %}
    <!-- jquery pour gallerie-->
    {#JQuery#}

    <!-- js pour gallerie-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' src={{ asset('unitegallery/js/unitegallery.min.js') }}></script>
    <script type='text/javascript' src={{ asset('unitegallery/themes/tiles/ug-theme-tiles.js') }}></script>
    <script>

        jQuery(document).ready(function(){

            jQuery("#gallery").unitegallery({
                tile_enable_image_effect:true,
                tile_image_effect_type: "sepia",
                tile_enable_overlay:false,
                tile_enable_icons:false,
                tiles_type:"justified"
            });

        });

        /* tile_enable_image_effect:true,
                tile_image_effect_type: "sepia",
                tile_enable_overlay:false,
                tile_enable_icons:false,*/
    </script>
    {#<script>
        /*check Javascript*/
        alert("Hello");
    </script>#}
{% endblock %}

