{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row ">
            <div class="offset-lg-1 col-lg mb-3">
                <a href="{{ path('admin_form_reservation') }}"><strong>Ajouter une Reservation</strong></a>&nbsp&nbsp date S = "Date Spectacle"	date R = "Date Réservation"
            </div>
        </div>
        <div class="row ">
            <div class="offset-lg-1 col-lg bg-light">
                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th >n°</th>
                        <th >spectacle</th>
                        <th >client</th>
                        <th >date S</th>
                        <th >date R</th>
                        <th >Total</th>
                        <th >Validé</th>
                        <th >Supp</th>
                        <th >Modif</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# Liste les reservations avec une boucle for #}
                    {% for reservation in reservations %}
                        <tr>
                            <td><a href="{{ path('admin_reservation',  {'id': reservation.id}) }}">{{ reservation.id}}</a></td>
                            <td><em><strong>"{{ reservation.spectacle.nomSpectacle}}"</strong></em></td>
                                {% if reservation.client %}
                                    <td><strong>{{ reservation.client.nomClient}}&nbsp{{ reservation.client.prenomClient}}</strong></td>
                                {% endif %}
                             <td><em>{{  reservation.spectacle.dateSpectacle|date("d/m/Y") }} séance de: {{ reservation.spectacle.heureDebutSpectacle|date("H:i") }}</em></td>
                            <td>{{ reservation.dateReservation|date("d/m/Y")  }}</td>
                            <td><strong>{{ reservation.montantReservation}}</strong> &euro;</td>
                            <td>{{ reservation.valideReservation }}</td>
                            <td>
                                <a href="{{ path('admin_supp_reservation',  {'id': reservation.id}) }}">
                                    <button class="supprimer" type="submit">Supprimer</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin_modif_reservation',  {'id': reservation.id}) }}">
                                    <button class="modifier" type="submit">Modifier</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#JQuery - Bootstrap#}
    <!-- jQuery first, then Popper.js, then Bootstrap JS, and then Bootstrap Table JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.2/bootstrap-table.min.js"></script>
{% endblock %}

