{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}

        <div class="row ">
            <div class="offset-1 col">
                <a href="{{ path('admin_form_reservation') }}"><strong>Ajouter une Reservation</strong></a>
            </div>
        </div>
        <div class="row ">
        {# Liste les reservations avec une boucle for #}
        {% for reservation in reservations %}
            <div class="offset-1 col_12">
                <a href="{{ path('admin_reservation',  {'id': reservation.id}) }}">
                    <p>
                        n° de réservation : {{ reservation.id}}<br>
                        spectacle : <em><strong>"{{ reservation.spectacle.nomSpectacle}}" </strong><br>
                        {% if reservation.client %}
                            client : <strong>{{ reservation.client.nomClient}}&nbsp{{ reservation.client.prenomClient}}</strong><br>
                        {% endif %}
                        date: {{ reservation.spectacle.dateSpectacle|date("d/m/Y") }} séance de: {{ reservation.spectacle.heureDebutSpectacle|date("H:i") }}</em><br>
                        date de réservation : {{ reservation.dateReservation|date("d/m/Y")  }}<br>
                        montant total de la réservation: <strong>{{ reservation.montantReservation}}</strong> &euro;<br>
                        payement validé : {{ reservation.valideReservation }} <br>
                    </p>
                    {# Liste les spectaurs avec une boucle for #}
                    <p>
                        Spectateur/s: <br>
                        {% for spectateur in reservation.spectateurs%}
                            nom : {{ spectateur.nomSpectateur}}&nbsp n° billet {{ spectateur.id}}<br>
                        {% endfor %}
                    </p>

                </a>
                <a href="{{ path('admin_supp_reservation',  {'id': reservation.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_reservation',  {'id': reservation.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>

            </div>
        {% endfor %}
        </div>
{% endblock %}
{% block javascripts %}
    {#JQuery - Bootstrap#}
    <!-- jQuery first, then Popper.js, then Bootstrap JS, and then Bootstrap Table JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.2/bootstrap-table.min.js"></script>
{% endblock %}

