{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}Administrator
    {#{{ dump(reservations) }}#}
    <p>
        <a href="{{ path('accueil')}}">Lien accueil</a>
    </p>
    <p>
        <a href="{{ path('admin_form_reservation') }}">Ajouter une Reservation</a>
    </p>

    <div class="text-align-center">

        {# Liste les spectaurs avec une boucle for #}
        {% if reservation %}

            <div>
                <p>
                    n° de Réservation : {{ reservation.id}}<br>
                    date de reservation: {{ reservation.dateReservation|date("d/m/Y")  }}<br>
                    montant total de reservation: {{ reservation.montantReservation}} €<br>
                    spectacle : {{ reservation.spectacle.nomSpectacle}}<br>
                    {# TODO vérifier client #}
                    client : {{ reservation.client.nomClient}}&nbsp{{ reservation.client.prenomClient}}<br>
                </p>
                <p>
                    {% for spectateur in reservation.spectateurs%}
                        nom : {{ spectateur.nomSpectateur}}&nbsp n° billet :{{ spectateur.id}}
                    {% endfor %}
                </p>

                <a href="{{ path('admin_supp_reservation',  {'id': reservation.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_reservation',  {'id': reservation.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>
                <hr>

            </div>

        {% endif %}
    </div>


{% endblock %}

