{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    {#{{ dump(reservations) }}#}

    <div class="text-align-center">

        {# Liste les spectaurs avec une boucle for #}
        {% if reservation %}

            <div>
                <p>n° de réservation : {{ reservation.id}}<br>
                    spectacle : <em><strong>"{{ reservation.spectacle.nomSpectacle}}" </strong><br>
                        {% if reservation.client %}
                            client : <strong>{{ reservation.client.nomClient}}&nbsp{{ reservation.client.prenomClient}}</strong><br>
                        {% endif %}
                        date: {{ reservation.spectacle.dateSpectacle|date("d/m/Y") }} séance de: {{ reservation.spectacle.heureDebutSpectacle|date("H:i") }}</em><br>
                    date de réservation : {{ reservation.dateReservation|date("d/m/Y")  }}<br>
                    montant total de la réservation: <strong>{{ reservation.montantReservation}}</strong> &euro;<br>
                    payement validé : {{ reservation.valideReservation }} <br>
                </p>
                <p>
                    Spectateur/s: <br>
                    {% for spectateur in reservation.spectateurs%}
                        nom : {{ spectateur.nomSpectateur}}&nbsp n° billet :{{ spectateur.id}}
                    {% endfor %}
                </p>

                <a href="{{ path('admin_supp_reservation',  {'id': reservation.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_reservation',  {'id': reservation.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>
                <hr>

            </div>

        {% endif %}
    </div>


{% endblock %}

