{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-8 mb-3">
                <a href="{{ path('admin_form_salle') }}"><em>Ajouter une Salle</em></a>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1">
                {#Liste les salles avec une boucle for#}
                {% for salle in salles %}
                        <p>
                            <a href="{{ path('admin_salle', {'id': salle.id}) }}">
                                Salle : {{ salle.nomSalle}}<br>
                                Ville : {{ salle.villeSalle|nl2br}}&nbsp
                                Places : {{ salle.placesSalle}}</a>
                        </p>

                        <a href="{{ path('admin_supp_salle',  {'id': salle.id}) }}">
                            <button class="supprimer" type="submit">Supprimer</button>
                        </a>
                        <a href="{{ path('admin_modif_salle',  {'id': salle.id}) }}">
                            <button class="modifier" type="submit">Modifier</button>
                        </a>
                        <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
