{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}
    <div class="row ">
        <p>
            <a href="{{ path('admin_form_spectacle') }}"><strong>Ajouter un Spectacle</strong></a>
        </p>
    </div>
    <div class="text-align-center">

        {# Liste les spectaurs avec une boucle for #}
        {% for spectacle in spectacles %}
            <div>
                <a href="{{ path('admin_spectacle',  {'id': spectacle.id}) }}">
                    <p>
                        spectacle : {{ spectacle.nomSpectacle}}&nbsp
                        date : {{ spectacle.dateSpectacle|date("d/m/Y")}}<br>
                        début séance : {{ spectacle.heureDebutSpectacle|date('H:i')}}&nbsp
                        fin de séance : {{ spectacle.heureFinSpectacle|date('H:i')}}<br>
                        salle : {{ spectacle.salle.nomSalle }}<br>
                        réservations :
                            {% if spectacle.ouvertureSpectacle == false %}
                                ouvert aux réservations
                            {% else %}
                                fermé aux réservations
                            {% endif %}
                    </p>
                </a>
                <a href="{{ path('admin_supp_spectacle',  {'id': spectacle.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_spectacle',  {'id': spectacle.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>
                <a href="{{ path('admin_reservations_spectacle',  {'spectacle': spectacle.id}) }}">
                    <button class="modifier" type="submit">Reservations par Spectacle</button>
                </a>
                <hr>

            </div>
        {% endfor %}
    </div>

{% endblock %}