{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}

    <p>
        <a href="{{ path('admin_form_spectateur') }}">Ajouter un Spectateur</a>
    </p>

    <div class="text-align-center">

        {# Liste les spectaurs avec une boucle for #}
        {% for spectateur in spectateurs %}
            <div>
                <p>
                    place pour : {{ spectateur.civilitespectateur}}&nbsp
                    <strong>{{ spectateur.nomSpectateur}}</strong>&nbsp
                    {{ spectateur.prenomSpectateur}}&nbsp &nbsp
                    {% if spectateur.reservation %}
                        réservation n° : {{ spectateur.reservation.id }}
                    {% endif %}


                    <a href="{{ path('admin_supp_spectateur',  {'id': spectateur.id}) }}">
                        <button class="supprimer" type="submit">Supprimer</button>
                    </a>
                    <a href="{{ path('admin_modif_spectateur',  {'id': spectateur.id}) }}">
                        <button class="modifier" type="submit">Modifier</button>
                    </a>
                <hr>
                </p>

            </div>

        {% endfor %}
    </div>

{% endblock %}

